In [1]:
import sqlite3

In [2]:
### Create a database in Ram
db= sqlite3.connect(':memory:')

In [3]:
### Get a cursor object 
cursor=db.cursor()

In [4]:
cursor.execute('''
        CREATE TABLE Ages(
        name varchar(120),
        age integer
)''')

In [5]:
cursor.execute('''DELETE FROM Ages''')

In [6]:
cursor.execute('''insert into Ages values ('Mara',28)''')
cursor.execute('''insert into Ages values ('Otto',33)''')
cursor.execute('''insert into Ages values ('Fyn',31)''')
cursor.execute('''insert into Ages values ('Neshawn',17)''')

In [7]:
cursor.execute('''select * from Ages ''')

In [8]:
rows=cursor.fetchall()

In [9]:
for row in rows:
    print(row)

('Mara', 28)
('Otto', 33)
('Fyn', 31)
('Neshawn', 17)

In [10]:
cursor.execute('''select * from Ages where name="Fyn"''')

In [11]:
rows=cursor.fetchone()

In [12]:
for row in rows:
    print(row)

Fyn
31

In [13]:
cursor.execute('''update Ages set age=30 where name="Mara"''')

In [14]:
cursor.execute('''delete from Ages where name="Otto"''')

In [15]:
cursor.execute('''pragma tabel_info(Ages)''')

In [16]:
cursor.execute('''alter table Ages add column email varchar(255)''')

In [17]:
cursor.execute('''update Ages set email="fyn31@gmail.com" where name="Fyn"''')

In [18]:
cursor.execute('''update Ages set email="mara30@gmail.com" where name="Mara"''')